<ion-header>
  <ion-toolbar>
    <ion-title>
      Currency Converter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Amount:</ion-label>
      <ion-input [(ngModel)]="amount" type="number" placeholder="Enter amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>From:</ion-label>
      <ion-select [(ngModel)]="fromCurrency" interface="action-sheet" (ionChange)="convertCurrency()">
        <ion-select-option *ngFor="let currency of currencies" [value]="currency.code">{{ currency.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>To:</ion-label>
      <ion-select [(ngModel)]="toCurrency" interface="action-sheet" (ionChange)="convertCurrency()">
        <ion-select-option *ngFor="let currency of currencies" [value]="currency.code">{{ currency.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Converted Amount:</ion-label>
      <ion-input [value]="convertedAmount" disabled></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
